jq-tab-head{
	color: #2196f3;
	  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

.inner_reg_tabs {
float: left;
min-width: 200px;
margin-left: 15px;
text-align:center;
background-color: rgb(64, 64, 64);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: rgb(0, 0, 0);
display: block;
font-family: Lato, sans-serif;
font-size: 14px;
line-height: 20px;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
padding-top: 5px;
min-height:500px;

}


.active {
	  background-color: #2c93b6 !important;
  color: #fff !important;
  pointer-events: auto !important;
  text-shadow: 1px 1px 1px #111;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.menu_tab {
  width: 10.2%;
  float: left;
  color: #fff;
  margin: 1% 2%;
  padding: 10px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.register_tabs{
	min-height:540px;
}

@charset "utf-8";
/* CSS Document */

html, body, *
{
    margin:0;
    padding:0;
	outline: 0;
}

body
{
    /*font-family: Calibri, Arial, sans-serif;*/
	font-family: 'Lato', sans-serif;
	color: #000;
	font-size: 14px;
}

@font-face {
    font-family:"text";
    src: url(../fonts/constantia.ttf) format("truetype");
}
@font-face {
	font-family:"helvatica";
    src: url(../fonts/hlght.ttf) format("truetype");
}

a
{
    text-decoration:none;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
a:hover
{
	text-decoration:none;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
h1, h2, h3, iframe
{
	margin:0;
	padding:0;
}
input, textarea
{
	margin:0;
	padding:0;
    outline:none;
}
img, figure
{
    border:none;
    margin:0px;
    padding:0px;
}
section, p, header, footer, .content_inner
{
	width: 100%;
    margin:0px;
    padding:0px;
}
form
{
	margin: 0px;
	padding: 0px;
}
.comon_style, .comon_style_info, .comon_style1
{
	width: 100%;
	float: left;
	position: relative;
}
.comon_style1
{
	margin-bottom: 10px;
}
.container
{
	float: none;
	margin: 0 auto;
}
header
{
	-ms-box-shadow: inset 0px -6px 13px -7px rgba(192, 192, 192, 0.83);
	-o-box-shadow: inset 0px -6px 13px -7px rgba(192, 192, 192, 0.83);
	-webkit-box-shadow: inset 0px -6px 13px -7px rgba(192, 192, 192, 0.83);
	-moz-box-shadow: inset 0px -6px 13px -7px rgba(192, 192, 192, 0.83);
	box-shadow: inset 0px -6px 13px -7px rgba(192, 192, 192, 0.83);
}
header figure
{
	width: 20%;
	float: left;
}
header figure a
{
	float: left;
	text-align: left;
}
header figure a img
{
	text-align: left;
}
.head_right
{
	width: 80%;
	float: right;
}
.head_right>ul
{
	float: right;
	width: 100%;
	text-align: right;
}
.head_right ul ul
{
	display: none;
	width: 100%;
	float: left;
}
.head_right ul li
{
	float: right;
	display: inline-block;
}
.head_right ul li a, .sub_lang a
{
	color: #0c99c8;
	font-size: 16px;
	padding: 5px 8px;
	margin-left: 8px;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.head_right ul li:hover ul
{
	display: block;
}
.head_right ul li a i
{
	font-size: 14px;
	padding-right: 3px;
}
.head_right ul ul li a
{
	padding:5px 8px;
	margin-top:10px;
	float: left;
}
#lang
{
	color: #0c99c8;
	width: 8%;
}
.sub_lang
{
	width: 100%;
	float: right;
	display: none;
	padding-top: 10px;
	text-align: right;
}
/*.head_right ul li a .fa-search
{
	background-color: #fff;
	color: #022a7b;
	text-shadow: none;
	padding: 4px 5px 5px 5px;
	font-size: 14px;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}*/
.head_right ul li a:hover, .menu_active, .sub_lang a:hover
{
	color: #fff !important;
	background-color: #0c99c8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	/*text-shadow: 1px 1px 0px #fff;*/
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.content_inner
{
	float: left;
	width: 100%;
}
#form_pge
{
	/*padding: 0px 10px;*/
}
.head
{
	width: 100%;
	float: left;
	margin: 30px 0px;
	font-size: 24px;
}
.search_area
{
	width: 100%;
	float: left;
	text-align: center;
}
.search_area form
{
	width: 100%;
	margin: 0 auto;
	color: #000;
	position: relative;
	margin-bottom: 70px;
}
.search_area form select, .search_area form input
{
	width: 210px;	
	margin-left: 20px;
	padding: 11.5px;
	font-size: 14px;
	color: #000;
	height: inherit;
}
.search_area form input
{
	padding: 10px;
}
.search_area form input[type="submit"]
{
	width: 77px;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 12px 3px 12px 18px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#404040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#404040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#404040 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#404040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#404040',GradientType=0 ); /* IE6-9 */

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.search_area form input[type="submit"]:hover
{
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top,  #404040 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #404040 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #404040 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #404040 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #404040 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
#search_icon
{
	position: absolute;
	color: #fff;
	right: 194px;
	top: 14px;
	font-size: 12px;
}
.banner
{
	width: 60%;
	float: left;
	margin-bottom: 90px;
}
.banner img
{
	width: 100%;
	height: 360px;
}
.user_login
{
	width: 30%;
	float: right;
	margin-left: 10%;
}
.user_login .head
{
	color: #0c99c8;
	width: 100%;
	float: left;
	font-size: 24px;
	margin: 0;
	margin-bottom: 40px;
	text-align: left;
}
.head1
{
	width: 100%;
	float: left;
	color: #525252;
	font-size: 28px;
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
	font-family: Calibri, Arial, Tahoma;
	text-transform: uppercase;
}
.nav_buttons
{
	width: 100%;
	float: left;
}
.menu_tab
{
	width: 10.2%;
	float: left;
	color: #fff;
	margin: 1% 2%;
	padding: 10px 0px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.menu_tab span
{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 20px;
	margin-bottom: 3px;
}
.menu_tab p
{
	background-color: transparent;
	width: 100%;
	float: left;
	padding: 5px 0px 5px 0px;
	margin-right: 0px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: #fff;
	font-weight: bold;
	margin-bottom: 0px;
	/*border-top: 1px solid #2d93b7;*/
	/*border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-ms-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;*/
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.menu_tab:hover, .user_active
{
	background-color: #2c93b6 !important;
	color: #fff !important;
	pointer-events: auto !important;
	text-shadow: 1px 1px 1px #111;
	cursor: pointer;
	position: relative;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.user_login form
{
	width: 100%;
	float: left;
	padding: 20px 0px;
	position: relative;
}
.login-form figure
{
	width: 100%;
	float: left;
	text-align: center;
}
.login-form figure img
{
	padding: 20px 0px 10px 0px;
}
.user_login form input, .login-form form input, .information_form form input, .information_form form textarea
{
	width: 94%;
	margin: 15px 0px;
	padding: 10px 8px 10px 55px;
	font-size: 17px;
	resize: none;
}
.user_login form input[type="submit"], .login-form form input[type="submit"], .form_btn input[type="submit"]
{
	width: 81px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	border: none;
	float: right;
	padding: 8px 3px 8px 18px;
	background: #2c93b7; /* Old browsers */

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.user_login form input[type="submit"]:hover, .login-form form input[type="submit"]:hover, .form_btn input[type="submit"]:hover
{
	background: #1485ad;
	
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
#login_form
{
	padding: 20px;
}
#signin_icon
{
	position: absolute;
	color: #fff;
	top: 180px;
	font-size: 14px;
	right: 62px;
}
#pop_icon
{
	position: absolute;
	color: #fff;
	top: 225px;
	font-size: 14px;
	right: 79px;
}
.md-close {
	position: absolute;
	color: #fff;
	top: -24px;
	float: right;
	right: 0;
	font-size: 18px;
	font-weight: bold;
	padding: 2px 10px;
	background-color: #313131;
	cursor: pointer;
}
#user_form
{
	display: block;
}
#company_form
{
	display: none;
}
.inner_content
{
	width: 80%;
	margin: 0 auto;
}
.row1, .row2
{
	width: 100%;
	float: left;
	margin-bottom: 50px;
}
.left_content
{
	width: 50%;
	float: left;
	text-align: center;
}
.inner_content p
{
	text-align: center;
	margin-top: 40px;
}
.right_content
{
	width: 50%;
	float: left;
	text-align: center;
}
.right_content p
{
	text-align: center;
	margin-bottom: 60px;
}
.left_content img:hover,.right_content img:hover
{
 -webkit-animation: rotateplane 1.2s ease-in-out;
    animation: rotateplane 1.2s ease-in-out;
}
@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
50% { -webkit-transform: perspective(120px) rotateY(180deg) }
100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
} 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
} 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}
footer
{
	width: 100%;
	float: left;
	position: relative;
	bottom: 0;
	background-color: #022c7e;
	padding: 10px 0px;
	color: #fff;
	font-size: 12px;
	text-shadow: 1px 1px 0px #022c7e;
	margin-top: 20px;
}
.foot_left
{
	width: 50%;
	float: left;
	text-align: left;
}
.foot_left a, .foot_right a
{
	color: #fff;
	margin-right: 5px;
	padding: 3px;
}
.foot_left a:hover
{
	color: #000;
	background-color: #fff;
	text-shadow: none;
}
.foot_right
{
	width: 50%;
	float: right;
	text-align: right;
}
.drop
{
	top: 43px;
	float: left;
	width: 12%;
}

.wrapper-dropdown-5 {
	position: relative;
background-color: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
    cursor: pointer;
    outline: none;
	width: 210px;	
	margin-left: 20px;
	padding: 10.7px;
	font-size: 14px;
	text-align: left;
	color: #000;
	height: inherit;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.wrapper-dropdown-5:before { /* Little arrow */
    content: "";
	width: 41px;
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
	/* margin-top: -3px; */
	/* border-width: 6px 6px 0 6px; */
	/* border-style: solid; */
	/* border-color: #fff transparent; */
	background: #000000;
	height: 41px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	z-index: 99;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li span {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover span {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #0c99c8;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}
/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li span {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
.information_form
{
	position: relative;
	margin: 0 auto;
	width: 69.8%;
	float: left;
	padding: 30px 15% 0px;
	background: #fff;
	border: 1px solid #e5e5e5;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.information_form form
{
	float: left;
	width: 100%;
}
.information_form form input, .information_form form textarea
{
	margin: 0px;
	margin-bottom: 20px;
	width: 90.5%;
}
.form_btn
{
	width: 100%;
	float: left;
	padding: 10px 0px;
}
.form_btn p
{
	width: 60%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-top: 9px;
}
.nxt_btn
{
	width: 50%;
	float: left;
	position: relative;
}
.skip_text, .skip_text1
{
	width: 50%;
	float: right;
	text-align: right;
	padding-top: 13px;
	font-size: 20px;
}
.skip_text1
{
	padding: 0px;
	position: relative;
}
.form_btn .nxt_btn input[type="submit"], .form_btn .only_nxt input[type="submit"]
{
	float: right;
	padding: 10px 22px 10px 2px;
}
#inform .wrapper-dropdown-5
{
	width: 771px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#sub_icon
{
	position: absolute;
	color: #fff;
	top: 9px;
	font-size: 14px;
	right: 59px;
	cursor: pointer;
}
#information
{
	position: relative;
}
.user_active:before
{
	content: "";
	position: absolute;
	border-top: 7px solid #FFF;
	border-right: 7px solid #FFF;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
	left: 45%;
	bottom: -23px;
	z-index: 9;
	
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);

}
#video_section, #resource_section, #vstatement, #pro_serv, #com_cont,
#document, #video, #vision, #pro, #serv, #cont
{
	/*display: none;*/
}
#certi, #certii, #productname, #productspec, #servicename, #servicespec, #emailid, #landlineno
{
	width: 93%;
}
#addNew, #addNew1, #addNew2, #addNew3, #addNew4, #addNew5,
#addNew6, #addNew7, #addNew8, #addNew9, #addNew10, #addNew11
{
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	float: left;
	margin-top: -20px;
	/*border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background-color: #313131;
	float: right;
	width: 21px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	padding-bottom: 1px;
	margin-top: 9px;
	margin-right: 8px;*/
}
.fa-plus-square
{
	color: #24cdb8;
	font-weight: bold;
	font-size: 18px;
}
.fa-minus-square
{
	color: #ed4b40;
	font-weight: bold;
	font-size: 18px;
}
.ad_clr
{
	color: #525252;
	margin-left: 6px;
}
#minusfield, #minusfield1, #minusfield2, #minusfield3, #minusfield4, #minusfield5,
#minusfield6, #minusfield7, #minusfield8, #minusfield9, #minusfield10, #minusfield11,
#minusfield62, #minusfield63, #minusfield64, #minusfield65, #minusfield66, #minusfield67
{
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
	float: left;
	margin-top: -20px;
	/*border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background-color: #313131;
	float: right;
	width: 21px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	padding-bottom: 1px;
	margin-top: 9px;
	margin-right: 8px;*/
}
.minusfield
{
	content: "";
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	font-family: Calibri, Arial, Tahoma;
	background-color: #ed4b40;
	width: 22px;
	height: 22px;
	text-align: center;
	right: -33px;
	top: 8px;
	padding: 0px 0px;
	cursor: pointer;
}
.tabprocess
{
	display: block;
}
/*custom upload elements*/
	.customfile-input {
		position:     absolute;
		height:       100px;
		cursor:       pointer;
		background:   transparent;
		border:       0;
		opacity:      0;
		-moz-opacity: 0;
		filter:       progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
		z-index:      999;
	}
	
	.customfile {
		/*width: 400px;*/     /* ##1 -- */
		background:            #666;
		cursor:                pointer;
		overflow:              hidden;
		padding:               2px;
		border:                1px solid #e8e8e8;
		-moz-border-radius:    7px;
		-webkit-border-radius: 7px;
		border-radius:         7px;
		position:              relative;
	
		/* ##2 ++ */
		white-space: nowrap;
	}
	
	.customfile-disabled {
		opacity: .5;
		filter:  progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
		cursor:  default;
	}
	
	.customfile-feedback {
		/*display:    block;*/
		margin:     1px 1px 1px 5px;
		font-size:  1.2em;
		color:      #fff;
		font-style: italic;
		padding:    .3em .6em;
	}
	
	.customfile-feedback-populated {
		color:        #fff;
		font-style:   normal;
		font-weight:  bold;
		padding-left: 20px;
		background:   url(http://dl.dropbox.com/u/20165443/jsFiddle/images/jquery.fileinput.icon-generic.gif) left 4px no-repeat;
	}
	
	.customfile-button {
		background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding:               .3em .6em;
  font-weight:           bold;
  text-align:            center;
		text-decoration:       none;
		font-size:             1.2em;
  -webkit-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
	}
	
	.customfile-hover .customfile-button, .customfile-focus .customfile-button {
		background-color: #ffffff;
  border: 1px solid #e8e8e8;
  padding:               .3em .6em;
  font-weight:           bold;
  text-align:            center;
		text-decoration:       none;
		font-size:             1.2em;
  -webkit-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
	}
	#pre_img, #cropContainerModal, #cropContaineroutput
	{
		width: 23%;
		height: 164px;
		border: none;
		position: relative;
		background-color: #f7f7f7;
		/*z-index: 999;*/
		float: right;
		border: 1px solid #dadada;
	}
	#img1
	{
		border: none;
	}
	/*#pre_img:after
	{
		content: "Preview Image";
		position: absolute;
		color: #000;
		top: 30px;
		right: 0;
		z-index: 99;
		left: 0px;
		text-align: center;
	}*/
#com_info
{
	float: left;
	background-color: #404040;
	padding: 5px 0px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#com_info input
{
	float: left;
	/*padding: 16px;*/
	/*pointer-events: none;*/
}
#myNicPanel, #myNicPanel2
{
	width: 99.7% !important;
}
.nicEdit-panel
{
	width: 100%;
}
.nicEdit-panelContain
{
	border-color: #e8e8e8 !important;
	border-bottom: none !important;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
#resourcesname1, #visionstatement
{
	height: 150px;
	margin-bottom: 20px;
	padding: 10px 15px;
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	border-top: none;
}

/* New Register Style */

#reg_head
{
	border-bottom: 1px solid #e9e9e9;
	box-shadow: none;
}
#reg_head figure
{
	width: 100%;
	float: none;
	text-align: center;
}
#reg_head figure a
{
	float: none;
	text-align: center;
}
.row_div
{
	width: 75%;
	float: left;
}
#sname, #stype
{
	width: 71%;
	margin-right: 2%;
}
#stype
{
	width: 100%;
	float: right;
	margin-left: 2%;
	margin-right: 0;
	
	-webkit-appearance:none;
    -moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
    appearance:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {
	position:relative;
	width: 50%;
	float: right;
}
label:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 40%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
    pointer-events:none;
}
label:before {
	content: '';
	right: 1px;
	top: 0px;
	width: 41px;
	height: 41px;	
	background: #2c93b7;
	position: absolute;
	pointer-events: none;
	display: block;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
#cname
{
	width: 87.5%;
	float: left;
}
#year, #itype
{
	width: 100%;
	float: left;
}
#annual, #ceo
{
	width: 78%;
	float: left;
	margin-right: 1%;
}
#currency
{
	float: right;
	margin-left: 1%;
	width: 44%;
}
.only_nxt
{
	width: 14%;
	float: right;
	position: relative;
	text-align: right;
}
#next_icon
{
	position: absolute;
	color: #fff;
	top: 14px;
	font-size: 14px;
	left: 74px;
	cursor: pointer;
}
.prev
{
	width: 18%;
	float: left;
	position: relative;
	text-align: left;
}
.prev input[type="submit"]
{
	width: 105px;
	float: left;
	padding: 10px 2px 10px 22px;
}
#prev_icon
{
	position: absolute;
	color: #fff;
	top: 14px;
	font-size: 14px;
	left: 11px;
	cursor: pointer;
}
#pre_img i
{
	position: absolute;
	right: 0;
	background-color: #022c7e;
	padding: 4px;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
}
#pre_img i:hover
{
	background-color: #0c99c8;
	color: #fff;
}
#yfound
{
	float: left;
	width: 100%;
}
#ctype
{
	width: 100%;
}
.comon_style_info1
{
	width: 48%;
	float: left;
	position: relative;
	padding-right: 2%;
}
.comon_style_info2
{
	width: 48%;
	float: right;
	position: relative;
	padding-left: 2%;
}
.comon_style_info2 label
{
	width: 100%;
}
.comon_style_info span, .comon_style_info1 span, .comon_style_info2 span, .comon_style span
{
	content: "";
	position: absolute;
	left: 15px;
	z-index: 9;
	top: 11px;
	border-right: 1px solid #d6d6d6;
	padding-right: 11px;
	color: #333131;
	font-size: 19px;
}
.comon_style #maill
{
	left: 12px;
	font-size: 17px;
}
.comon_style_info2 span
{
	left: 24px;
}
.comon_add
{
	position: relative;
}
.comon_style cite
{
	/*content: "";
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	font-family: Calibri, Arial, Tahoma;
	background-color: #24cdb8;
	width: 22px;
	height: 22px;
	text-align: center;
	right: -33px;
	top: 8px;
	padding: 0px 0px;
	cursor: pointer;*/
}
#docfile, #docfile2, #docfile3, #vidfile
{
	clear: both;
}
.input-append
{
	width: 79.5%;
}
.input-append input
{
	width: 100% !important;
}
.adddocument, .adddocument1
{
	display: block;
}
.pro_ser_con
{
	margin-top: -10px !important;
}


/* New Register Style Ends */

@media (min-width: 980px) and (max-width: 1200px)
{
	#search_icon
	{
    	right: 138px;
	}
	.nav_buttons input[type="button"]
	{
		width: 119px;
	}
	#lang {
		width: 9%;
	}
	.drop {
		width: 18%;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.search_area form select, .search_area form input
	{
    	width: 91%;
	}
	#search_icon {
		color: #FFFFFF;
		font-size: 12px;
		position: absolute;
		right: 372px;
		top: 171px;
	}
	#lang {
		width: 11%;
	}
	.user_login .head {
		font-size: 22px;
		margin: 0 0 13px;
	}
	.user_login form input {
    	margin: 12px 0;
	}
	#signin_icon {
		right: 62px;
		top: 166px;
	}
	.drop {
		margin: 0 auto;
		width: 100%;
		margin-bottom: 10px;
	}
	.wrapper-dropdown-5
	{
		width: 90%;
		margin: 0 auto;
	}
}


@media (min-width: 480px) and (max-width: 767px) {
	.span12
	{
		width: 460px;
	}
	
	#lang {
		color: #0C99C8;
		width: 20%;
	}
	header figure, .head_right
	{
		width: 100%;
		padding-bottom: 20px;
		text-align: center;
	}
	header figure a {
		float: none;
		text-align: center;
	}
	.head_right > ul {
		float: none;
		margin: 0 auto;
		text-align: right;
		width: 70%;
	}
	.search_area form select, .search_area form input
	{
		width: 98.5%;
		margin-left: 0px;
	}
	.search_area form input
	{
		width: 94%;
	}
	#search_icon
	{
		color: #FFFFFF;
		font-size: 12px;
		position: absolute;
		right: 250px;
		top: 172px;
	}
	.drop {
		margin: 0 auto;
		width: 100%;
		margin-bottom: 10px;
	}
	.wrapper-dropdown-5
	{
		width: 93%;
		margin: 0 auto;
	}
	.banner, .user_login
	{
		width: 100%;
		margin:0px;
	}
	.banner
	{
		margin-bottom: 20px;
	}
	.user_login form input {
		width: 95%;
	}
	.user_login form input[type="submit"]
	{
		margin-right: 7px;
	}
	#signin_icon {
		right: 69px;
		top: 181px;
	}
	.left_content, .right_content
	{
		width: 100%;
	}
	.foot_left, .foot_right
	{
		float: left;
		text-align: center;
		width: 100%;
	}
}

@media (min-width: 320px) and (max-width: 479px) {
	.span12
	{
		width: 310px;
	}
	#lang {
		width: 20%;
	}
	header figure, .head_right
	{
		width: 100%;
		padding-bottom: 20px;
		text-align: center;
	}
	header figure a {
		float: none;
		text-align: center;
	}
	.head_right > ul {
		float: none;
		margin: 0 auto;
		text-align: right;
		width: 100%;
	}
	.head {
		line-height: 30px;
	}
	.search_area form select, .search_area form input
	{
		width: 98.5%;
		margin-left: 0px;
	}
	.search_area form input
	{
		width: 91%;
	}
	#search_icon
	{
		right: 175px;
		top: 172px;
	}
	.drop {
		margin: 0 auto;
		width: 100%;
		margin-bottom: 10px;
	}
	.wrapper-dropdown-5
	{
		width: 93%;
		margin: 0 auto;
	}
	.banner, .user_login
	{
		width: 100%;
		margin:0px;
	}
	.banner
	{
		display: none;
	}
	.user_login form input {
		width: 94%;
	}
	.user_login form input[type="submit"]
	{
		margin-right: 7px;
	}
	#signin_icon {
		right: 69px;
		top: 181px;
	}
	.left_content, .right_content
	{
		width: 100%;
	}
	.left_content img, .right_content img
	{
		width: 270px;
	}
	.foot_left, .foot_right
	{
		float: left;
		text-align: center;
		width: 100%;
	}
}

.left-bar{
  height: 100%;
  width: 266px;
  background-color: #ffffff;
  display: block;
  float: left;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}


.left-bar .admin-logo {
  background-color: #2196f3;
  min-height: 70px;
  padding-left: 15px;
  width: 266px;
  z-index: 999
}


.left-bar .admin-logo .logo-holder{
  color: white;
  padding-top: 8px;
  font-size: 20px;
}

.left-bar .menu-parent, .side-bar .menu-parent{
	  padding-top: 70px;
}
.left-bar .menu-parent > jq-tab-head {
  display: block;
  border-bottom: 1px solid #e9ecf2;
}