[submodule "libs/utils"]
	path = libs/utils
	url = https://gitlab.com/laniamspringsolutions/utils.git
[submodule "libs/webutils"]
	path = libs/webutils
	url = https://gitlab.com/laniamspringsolutions/webutils.git
