@charset "utf-8";
/* CSS Document */
@import
	url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
	;

* {
	margin: 0;
	padding: 0;
}
/* Initial body */
body {
	left: 0;
	position: relative;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, #ffffff, #ffffff 2px, #fafafa 2px,
		#fafafa 4px);
}

/* Basic styling */
#wrapper {
	min-height: 100%;
	position: relative;
}

.main {
	width: 100%;
	margin: 0 auto;
}

.navbar {
	background: #0066CC;
	width: 100%;
	margin: 0 auto;
}

.form-custom {
	margin-top: 15px;
	margin-bottom: 15px;
}

.logo {
	font-family: 'Raleway', sans-serif;
	margin-top: 15px;
	font-size: 35px;
	color: #FFF;
	font-weight: bolder;
	margin-right: 25px;
}

.logo:hover {
	color: #FFF;
}

.hrStip {
	border: 1px solid #003366;
	border-spacing: 0.5px;
}

.sign-in {
	color: #FFBB0F;
	background-color: #0d4187;
	vertical-align: top;
}

.email-header {
	margin-top: -22px;
}

.pswd {
	color: #FFF;
	text-decoration: none;
}

.pswd:hover {
	text-decoration: underline;
	color: #FFF;
}

.login-img {
	margin-top: 25px;
}

.tab-title {
	font-family: "Roboto Slab";
	font-size: 20px;
	margin-left: 20px;
	color: #0d4187;
}

.signup {
	font-family: "Roboto Slab";
	font-size: 16px;
	color: #0d4187;
}

}
footer {
	background-color: #32aed8;
	width: 100%;
	box-shadow: 0 2px 0 #6e6e6e inset, 0 2px 2px rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	bottom: 0;
	clear: both;
}

.login_form {
	padding-left: 10px;
}

.user_login {
	padding-top: 10px;
}

.btn-blue {
	background-color: #003366;
	color: #FF9900;
	height: 34px;
}

.btn-white {
	background-color: #fff;
}

.caret {
	color: #FF9900;
}

.input-group-addon {
	border-radius: 0;
	color: #FF9900;
	background-color: #003366;
	border: 1px solid #003366;
}

.form-control {
	border: 1px solid #003366;
}

.form-navbar-inner {
	margin: 25px 0;
	text-align: center;
	width: 60%;
}

.navbar-top-links li {
	display: inline-block;
	margin: 25px 5px;
}

.navbar-top-links li:last-child {
	margin-left: 5px;
	margin-right: 0;
}

.btn-submit {
	height: 34px;
	color: #FF9900;
	background-color: #003366;
}

.custom-addon {
	width: 15px !important;
}

.workspace {
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	
}
.msg
{
	width:100%;
	height:auto;
	background:#fff;
	padding:5px;
	border:1px solid #E5E5E5;}
.container {
	width: 100%;
}

.dropdown-menu {
	min-width: 148px;
	border-radius: 0;
}

.btn {
	border: 1px solid #003366;
}

.btn:hover,.btn:focus {
	color: #fff;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	-webkit-transition: color .3s ease-in;
	transition: color .3s ease-in;
}

.navbar-form .form-control {
	width: 220px !important;
}

.circle {
	background: none repeat scroll 0 0 #fff;
	color: #FF9900;
	border: none;
}

.btn-circle{
  border-radius: 20px !important;
    font-size: 18px;
    height: 40px;
    line-height: 1.33;
    padding: 6px 0px;
    width: 40px;
    
}

.circle:hover,.circle:focus {
	color: #996600;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	-webkit-transition: color .3s ease-in;
	transition: color .3s ease-in;
}

.facebook-share-box {
	width: 100%;
	background: white;
	border: 1px solid #E5E5E5;
}

.facebook-share-box .share {
	-webkit-transition: 0.1s ease-out height;
	-moz-transition: 0.1s ease-out height;
	-ms-transition: 0.1s ease-out height;
	-o-transition: 0.1s ease-out height;
	transition: 0.1s ease-out height;
	clear: both;
	background: white;
	border-top: 1px solid #E5E5E5;
	position: relative;
}

.facebook-share-box .share .arrow {
	background: url(../images/images/arrow.png) no-repeat #dddddd;
	position: absolute;
	width: 14px;
	height: 10px;
	left: 4px;
	display: inline;
	top: -10px;
	-webkit-transition: 0.3s ease-out all;
	-moz-transition: 0.3s ease-out all;
	-ms-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
	color: #085083;
	text-decoration: none;
}

.facebook-share-box .post-types li a.active {
	color: #404040;
}

.facebook-share-box .post-types {
	padding-left: 5px;
}

.facebook-share-box ul {
	list-style: none;
	margin: 9px 0;
}

.facebook-share-box .post-types li {
	display: inline;
	margin-right: 10px;
}

.message {
	border: 1px solid #E5E5E5;
}

.panel {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

.panel-footer {
	background-color: #fff;
	border: medium none;
	padding: 0 15px 15px;
}

.privacy-dropdown {
	width: 100px;
}

/* Tabs panel */
.tabbable-panel {
	padding: 20px;
}

/* Default mode */
.tabbable-line>.nav-tabs {
	border: none;
	margin: 0px;
}

.tabbable-line>.nav-tabs>li {
	margin-right: 10px;
}

.tabbable-line>.nav-tabs>li>a {
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background-color: #f1f1f1;
	margin-right: 0;
	color: #737373;
}

.tabbable-line>.nav-tabs>li>a>i {
	color: #a6a6a6;
}

.tabbable-line
>
.nav-tabs
>
li








.open
,
.tabbable-line
>
.nav-tabs
>
li








:hover
>
{
border-bottom








:




 




4
px




 




solid




 




#91d1e7








;
}
.tabbable-line>.nav-tabs>li.open>a,.tabbable-line>.nav-tabs>li:hover>a {
	border-bottom: 4px solid #0d4187;
	background-color: #f1f1f1;
	color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i,.tabbable-line>.nav-tabs>li:hover>a>i
	{
	color: #32aed8;
}

.tabbable-line>.nav-tabs>li.active {
	border-bottom: 4px solid #0d4187;
	border-top: 1px solid #e2e2e2;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
	border: 0;
	color: #0d4187;
	background-color: #f1f1f1;
}

.tabbable-line>.nav-tabs>li.active>a>i {
	color: #404040;
}

.tabbable-line>.tab-content {
	margin-top: 10px;
	background-color: #fff;
	border: 0;
	padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
	padding-bottom: 0;
}

.navbar {
	border-radius: 0;
}

@media ( min-width :975px) {
	.tab-title {
		margin-top: 70px;
	}
}

.form-control,.btn {
	border-radius: 0px;
}

/* Sidebar Nav*/
.sidebar-nav {
	/* font-family:"Roboto Slab";*/
	margin: 0;
	padding-top: 20px;
	list-style: none;
}

.sidebar-nav li {
	/*border-bottom: 1px solid #e5e5e5;*/
	line-height: 40px;
	padding: 5px;
	text-indent: 5px;
}

.sidebar-nav li hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 0;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #84889a;
	font-size: 18px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #43443D;
	border-right: 5px solid #0474bb;
	/* background: rgba(255,255,255,0.2);*/
	padding-left: 10px;
	-moz-transition: padding-left .3s ease-in;
	-o-transition: padding-left .3s ease-in;
	-webkit-transition: padding-left .3s ease-in;
	transition: padding-left .3s ease-in;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav li a i {
	color: #FFBB0F;
	padding-right: 10px;
	width: 30px;
}
.container-fluid
{
	padding-left:0;
	padding-right:0;
}

img
{
	max-width:100%;
	max-height:100%;
}