/*
Error: Invalid CSS after "...column-count(2)": expected "{", was ";"
        on line 4 of /home/lt/Workspace/javageeks/origojava/website/src/main/webapp/resources/dff/sample1.scss

1: @import "compass/css3";
2:  
3: #two-column {
4:   @include column-count(2);
5:   width: 300px;
6:   margin-bottom: 20px;
7: }
8:  
9: #three-column {

Backtrace:
/home/lt/Workspace/javageeks/origojava/website/src/main/webapp/resources/dff/sample1.scss:4
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:1166:in `expected'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:293:in `watch'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/bin/compass:30:in `(root)'
org/jruby/RubyProc.java:271:in `call'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/gems/compass-1.0.1/bin/compass:44:in `(root)'
org/jruby/RubyKernel.java:1081:in `load'
/home/lt/Workspace/javageeks/origojava/website/build/tmp/jrubyExec-compass/bin/compass:23:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...column-count(2)\": expected \"{\", was \";\"\A         on line 4 of /home/lt/Workspace/javageeks/origojava/website/src/main/webapp/resources/dff/sample1.scss\A \A 1: @import \"compass/css3\";\A 2:  \A 3: #two-column {\A 4:   @include column-count(2);\A 5:   width: 300px;\A 6:   margin-bottom: 20px;\A 7: }\A 8:  \A 9: #three-column {"; }
